<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load Data</a></span></li><li><span><a href="#Additionial-preprocessing" data-toc-modified-id="Additionial-preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Additionial preprocessing</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Data-Transformations" data-toc-modified-id="Data-Transformations-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Data Transformations</a></span></li><li><span><a href="#Test/Train-split-Techniques" data-toc-modified-id="Test/Train-split-Techniques-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Test/Train split Techniques</a></span></li></ul></li><li><span><a href="#Support-Vector-Machines" data-toc-modified-id="Support-Vector-Machines-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Support Vector Machines</a></span><ul class="toc-item"><li><span><a href="#Perform-Grid-search" data-toc-modified-id="Perform-Grid-search-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Perform Grid search</a></span></li><li><span><a href="#Train-the-models-with-different-time/spatial" data-toc-modified-id="Train-the-models-with-different-time/spatial-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Train the models with different time/spatial</a></span></li><li><span><a href="#Compare-the-results-of-the-different-time/spaitla-bin-combinations" data-toc-modified-id="Compare-the-results-of-the-different-time/spaitla-bin-combinations-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Compare the results of the different time/spaitla bin combinations</a></span></li><li><span><a href="#Analyize-the-models-with-XAI-methods" data-toc-modified-id="Analyize-the-models-with-XAI-methods-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Analyize the models with XAI methods</a></span></li></ul></li><li><span><a href="#Neural-Networks" data-toc-modified-id="Neural-Networks-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Neural Networks</a></span><ul class="toc-item"><li><span><a href="#Grid-Search" data-toc-modified-id="Grid-Search-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Grid Search</a></span></li><li><span><a href="#Train-the-models-with-different-time/spatial-bins-and-different-test/train-spilt-techniques" data-toc-modified-id="Train-the-models-with-different-time/spatial-bins-and-different-test/train-spilt-techniques-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Train the models with different time/spatial bins and different test/train spilt techniques</a></span></li><li><span><a href="#Compare-the-results-of--the-different-time/spaitla-bin-combinations" data-toc-modified-id="Compare-the-results-of--the-different-time/spaitla-bin-combinations-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Compare the results of  the different time/spaitla bin combinations</a></span></li><li><span><a href="#Compare-the-different-test/train-split-techniques" data-toc-modified-id="Compare-the-different-test/train-split-techniques-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Compare the different test/train split techniques</a></span></li><li><span><a href="#Aanalyize-the-models-with-XAI-methods" data-toc-modified-id="Aanalyize-the-models-with-XAI-methods-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Aanalyize the models with XAI methods</a></span></li><li><span><a href="#Apply-different-NN-architectures" data-toc-modified-id="Apply-different-NN-architectures-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Apply different NN architectures</a></span><ul class="toc-item"><li><span><a href="#Recurrent-NN-(RNN)" data-toc-modified-id="Recurrent-NN-(RNN)-6.6.1"><span class="toc-item-num">6.6.1&nbsp;&nbsp;</span>Recurrent NN (RNN)</a></span></li><li><span><a href="#Long-Short-Term-Memory-Networks-(LSTM)" data-toc-modified-id="Long-Short-Term-Memory-Networks-(LSTM)-6.6.2"><span class="toc-item-num">6.6.2&nbsp;&nbsp;</span>Long Short-Term Memory Networks (LSTM)</a></span></li><li><span><a href="#Kernalized-NN" data-toc-modified-id="Kernalized-NN-6.6.3"><span class="toc-item-num">6.6.3&nbsp;&nbsp;</span>Kernalized NN</a></span></li><li><span><a href="#Comparison-of-the-results" data-toc-modified-id="Comparison-of-the-results-6.6.4"><span class="toc-item-num">6.6.4&nbsp;&nbsp;</span>Comparison of the results</a></span></li></ul></li></ul></li><li><span><a href="#Compare-SVM-and-NN-models-in-terms-of-predictive-performance-and-computation-time" data-toc-modified-id="Compare-SVM-and-NN-models-in-terms-of-predictive-performance-and-computation-time-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Compare SVM and NN models in terms of predictive performance and computation time</a></span></li></ul></div>

# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import KFold
#import seaborn as sns

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from datetime import timedelta

# Load Data

In [38]:
time_periods = [1, 2, 6, 24] # time bins we want to predict the demand for
resolution = ['h3_res_4', 'h3_res_6', 'h3_res_8'] # spatial resolution we want to predict the demand for

prediction_data={}
for periods in time_periods:
    res_data={}
    for res in resolution:
        res_data[res]=pd.read_csv(f'../data/{periods}hours_{res}.csv', index_col="trip_start_timestamp")
    prediction_data[periods]=res_data

In [39]:
df = prediction_data.get(1).get('h3_res_4')
df.head(4)

,h3_res_4,temperature,precipitation,number_of_trips,weekday,month,hour,hour_sin,hour_cos,weekday_sin,weekday_cos,lagged_1h,lagged_1day
trip_start_timestamp,,,,,,,,,,,,,
2018-01-01 00:00:00,8426645ffffffff,-20.555556,0.0,2,1.0,1.0,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN
2018-01-01 00:00:00,842664dffffffff,-20.555556,0.0,2321,1.0,1.0,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN
2018-01-01 00:00:00,8427593ffffffff,-20.555556,0.0,35,1.0,1.0,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN
2018-01-01 01:00:00,8426645ffffffff,-18.333333,0.0,2,1.0,1.0,1.0,0.269797,0.962917,-2.449294e-16,1.0,2.0,NaN

# Additionial preprocessing

In [40]:
encoder = OneHotEncoder(sparse=False)

encoded_data = encoder.fit_transform(df[['h3_res_4']])

encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['h3_res_4']))

df.reset_index(drop=False, inplace=True)

df = pd.concat([df, encoded_df], axis=1).drop('h3_res_4', axis=1)

df.set_index("trip_start_timestamp", inplace=True);

In [30]:
df.head(5)

,temperature,precipitation,number_of_trips,weekday,month,hour,hour_sin,hour_cos,weekday_sin,weekday_cos,lagged_1h,lagged_1day,h3_res_4_8426641ffffffff,h3_res_4_8426645ffffffff,h3_res_4_842664dffffffff,h3_res_4_8427593ffffffff
trip_start_timestamp,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,-20.555556,0.0,2,1.0,1.0,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN,0.0,1.0,0.0,0.0
2018-01-01 00:00:00,-20.555556,0.0,2321,1.0,1.0,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN,0.0,0.0,1.0,0.0
2018-01-01 00:00:00,-20.555556,0.0,35,1.0,1.0,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN,0.0,0.0,0.0,1.0
2018-01-01 01:00:00,-18.333333,0.0,2,1.0,1.0,1.0,0.269797,0.962917,-2.449294e-16,1.0,2.0,NaN,0.0,1.0,0.0,0.0
2018-01-01 01:00:00,-19.374470,0.0,4192,1.0,1.0,1.0,0.269797,0.962917,-2.449294e-16,1.0,2321.0,NaN,0.0,0.0,1.0,0.0

In [31]:
df['lagged_1day'].fillna(df['number_of_trips'].mean(), inplace= True)
df['lagged_1h'].fillna(df['number_of_trips'].mean(), inplace= True)

In [32]:
null_count_column1 = df['lagged_1h'].isnull().sum()
print(f"Null values in 'Column1': {null_count_column1}")
null_count_column1 = df['lagged_1day'].isnull().sum()
print(f"Null values in 'Column1': {null_count_column1}")

Null values in 'Column1': 0
Null values in 'Column1': 0

In [33]:
features=['temperature', 'precipitation', 'hour_sin', 'hour_cos', 'weekday_sin', 'weekday_cos',
       'lagged_1h', 'lagged_1day', 'h3_res_4_8426641ffffffff',
       'h3_res_4_8426645ffffffff', 'h3_res_4_842664dffffffff',
       'h3_res_4_8427593ffffffff']

# Functions

## Data Transformations

In [34]:
def prepare_data(X,Y,train_index, val_index):
    '''
    Method that prepares the data for training (split the data/)
    param X: feature data to be prepared
    param Y: target data to be prepared
    param train_index: index that defines the split for trainig data
    param val_index: index that defines the split for target data
    returns X_train, Y_train, X_val, Y_val: prepared training & validation data
    '''
    Scaler=StandardScaler()
    
    X_train = Scaler.fit_transform(X.iloc[train_index])
    Y_train = Scaler.fit_transform(Y[train_index].values.reshape(-1,1))
    
    X_val = Scaler.fit_transform(X.iloc[val_index])
    Y_val = Scaler.fit_transform(Y[val_index].values.reshape(-1,1))
    
    return X_train, Y_train, X_val, Y_val


def train_nn(X_train, Y_train, X_val, Y_val, model, params):
    '''
    This method compiles and trains a neural network with the given data and parameters
    param X_train: Training data-set
    param Y_train: Target variable for training
    param X_val:   Test data-set
    param y_val:   Target variable for validation
    param model:   NN to be trained
    param params:  Parameters to compile and fit the NN
    returns:       Nothing     
    '''
    model.compile(
        optimizer=params.get("optimizer"),
        loss=params.get("loss"),
        metrics=params.get("metrics"),
    )
    model.fit(
        x=X_train,
        y=Y_train,
        batch_size=params.get("batch_size"),
        epochs=params.get("epochs"),
        #verbose=params.get("verbose"),
    )
    Y_pred=model.predict(X_val)
    r2= r2_score(Y_val, Y_pred)
    MSE= mean_absolute_error(Y_val, Y_pred)
    print(f"R-squared {r2}")
    print(f"Mean Squared Error {MSE}")
    return None


def train_svm(X_train, Y_train, model, params):
    '''
    This method compiles and trains a SVM with the given data and parameters
    param X_train: Training data-set
    param Y_train: Target variable for training
    param X_val:   Test data-set
    param y_val:   Target variable for validation
    param model:   SVM to be trained
    param params:  Parameters to train the SVM
    returns:       Nothing    
    '''
    return None


def create_date_list(delta):
    '''
    This method creates a list of dates (2018-2019) 
    depending on the delta
    params delta: determines break between dates
    returns:      list of dates 
    '''
    # create a startdate
    start = pd.to_datetime("2018-01-01", format="%Y-%m-%d")
    # create the enddate
    end = pd.to_datetime("2018-12-31", format="%Y-%m-%d")
    # create timedelta to increase days
    next_day = timedelta(days=delta)
    list_dates=[]
    
    while start <= end:
        
        # add date to list
        list_dates.append(start)
        # increase date by one day
        start = start + next_day
    
    return list_dates

## Test/Train split Techniques

In [118]:
def naive_k_fold_validation(k, X, Y, model, train_model, params):
    '''
    Method that trains and validate the model using k-fold validation
    However, this method can disrupt the temporal patterns and data leakage occurs 
    due to the lagged time features
    param k:      Number of folds (iterations)
    param x:      Feature data
    param y:      Target data
    param model:  Model to be trained ()
    returns:      Nothing
    '''
    # initialize the folds
    k_fold = KFold(n_splits= k, random_state=47, shuffle=True)
    # iteratre through all folds
    for train_index, val_index in k_fold.split(X,Y):
        # prepare data and get splits
        X_train, Y_train, X_val, Y_val = prepare_data(X,Y, train_index, val_index)
        # train & validate the model
        train_model(X_train=X_train, Y_train= Y_train, X_val=X_val, Y_val=Y_val,  model=model, params=params)

        
def batch_split_cross_validation(k, time_bin, X, Y, model, train_model, params):
    '''
    This method split the entire dataset into batches. Direct Data Leakage is avoided by disrupting
    the chain of the lagged time feature between test and training set. Batches are cut on week and day level 
    depending on the granularity of the time bins.
    param X:              feature data 
    param Y:              target data
    param k_folds:        number of folds for k-fold validation
    param time_bin:       granularity of the time bins
    returns index_dict:   contains indicies to split for cross validation
    '''
    # if 24 split batches by weeks
    if time_bin == 24:
        # create date list
        date_list = create_date_list(7)    
    # else split by days
    else:
        # create date list
        date_list = create_date_list(1)
    # number of batches that are included in the test set
    size_test_split = len(date_list) // k
    # iterate through each fold
    for fold in range(0, k):
        # make a copy of X and Y
        X_copy = X.copy()
        Y_copy = Y.copy()
        # pick random choices for the test data set
        if fold==k-1:
            arr = np.random.choice(range(1, len(date_list)), len(date_list)-1, replace=False)
        else: 
            arr = np.random.choice(range(1, len(date_list)), size_test_split, replace=False)
        # Create two empty DataFrames (test sets)
        X_test = pd.DataFrame()
        Y_test = pd.DataFrame()
        # Fill the test sets with data
        #for element in arr:
            
        arr = sorted(arr, reverse=True)
        # Delete the elements from the date_list that have been already used for the test set
        for element in arr:
            del date_list[element]
        print(date_list)
    return None


def sliding_window_cross_validation(X,Y,n_windows):
    '''
    This method uses sliding window technique to the split the data. The user specifies the size of the window and
    the model is trained sequentially with each window until the last window. Future data is used to the evaluate the
    model. This way ensures no data leakage into the test set
    '''
    return None


def sorted_train_test_split(X, Y, model, train_model, params):
    
    return None

In [119]:
batch_split_cross_validation(4, 24, df[features], df['number_of_trips'], None, None, None)

[Timestamp('2018-01-01 00:00:00'), Timestamp('2018-01-08 00:00:00'), Timestamp('2018-01-22 00:00:00'), Timestamp('2018-01-29 00:00:00'), Timestamp('2018-02-05 00:00:00'), Timestamp('2018-02-12 00:00:00'), Timestamp('2018-02-19 00:00:00'), Timestamp('2018-03-05 00:00:00'), Timestamp('2018-03-12 00:00:00'), Timestamp('2018-03-19 00:00:00'), Timestamp('2018-03-26 00:00:00'), Timestamp('2018-04-02 00:00:00'), Timestamp('2018-04-09 00:00:00'), Timestamp('2018-04-16 00:00:00'), Timestamp('2018-04-23 00:00:00'), Timestamp('2018-04-30 00:00:00'), Timestamp('2018-05-07 00:00:00'), Timestamp('2018-05-14 00:00:00'), Timestamp('2018-05-21 00:00:00'), Timestamp('2018-05-28 00:00:00'), Timestamp('2018-06-11 00:00:00'), Timestamp('2018-06-25 00:00:00'), Timestamp('2018-07-02 00:00:00'), Timestamp('2018-07-09 00:00:00'), Timestamp('2018-07-16 00:00:00'), Timestamp('2018-07-30 00:00:00'), Timestamp('2018-08-13 00:00:00'), Timestamp('2018-08-20 00:00:00'), Timestamp('2018-08-27 00:00:00'), Timestamp('2018-09-03 00:00:00'), Timestamp('2018-09-10 00:00:00'), Timestamp('2018-09-24 00:00:00'), Timestamp('2018-10-01 00:00:00'), Timestamp('2018-10-08 00:00:00'), Timestamp('2018-10-15 00:00:00'), Timestamp('2018-10-22 00:00:00'), Timestamp('2018-10-29 00:00:00'), Timestamp('2018-11-05 00:00:00'), Timestamp('2018-11-19 00:00:00'), Timestamp('2018-12-17 00:00:00')]
[Timestamp('2018-01-01 00:00:00'), Timestamp('2018-01-08 00:00:00'), Timestamp('2018-01-22 00:00:00'), Timestamp('2018-02-05 00:00:00'), Timestamp('2018-02-12 00:00:00'), Timestamp('2018-02-19 00:00:00'), Timestamp('2018-03-05 00:00:00'), Timestamp('2018-03-19 00:00:00'), Timestamp('2018-03-26 00:00:00'), Timestamp('2018-04-16 00:00:00'), Timestamp('2018-04-30 00:00:00'), Timestamp('2018-05-21 00:00:00'), Timestamp('2018-06-11 00:00:00'), Timestamp('2018-06-25 00:00:00'), Timestamp('2018-07-02 00:00:00'), Timestamp('2018-07-09 00:00:00'), Timestamp('2018-07-30 00:00:00'), Timestamp('2018-08-13 00:00:00'), Timestamp('2018-08-20 00:00:00'), Timestamp('2018-09-10 00:00:00'), Timestamp('2018-09-24 00:00:00'), Timestamp('2018-10-01 00:00:00'), Timestamp('2018-10-08 00:00:00'), Timestamp('2018-10-22 00:00:00'), Timestamp('2018-11-05 00:00:00'), Timestamp('2018-11-19 00:00:00'), Timestamp('2018-12-17 00:00:00')]
[Timestamp('2018-01-01 00:00:00'), Timestamp('2018-01-22 00:00:00'), Timestamp('2018-02-19 00:00:00'), Timestamp('2018-03-05 00:00:00'), Timestamp('2018-03-26 00:00:00'), Timestamp('2018-04-16 00:00:00'), Timestamp('2018-04-30 00:00:00'), Timestamp('2018-06-11 00:00:00'), Timestamp('2018-07-02 00:00:00'), Timestamp('2018-09-24 00:00:00'), Timestamp('2018-10-01 00:00:00'), Timestamp('2018-10-22 00:00:00'), Timestamp('2018-11-05 00:00:00'), Timestamp('2018-12-17 00:00:00')]
[Timestamp('2018-01-01 00:00:00')]

In [108]:
df[features]

,temperature,precipitation,hour_sin,hour_cos,weekday_sin,weekday_cos,lagged_1h,lagged_1day,h3_res_4_8426641ffffffff,h3_res_4_8426645ffffffff,h3_res_4_842664dffffffff,h3_res_4_8427593ffffffff
trip_start_timestamp,,,,,,,,,,,,
2018-01-01 00:00:00,-20.555556,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN,0.0,1.0,0.0,0.0
2018-01-01 00:00:00,-20.555556,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN,0.0,0.0,1.0,0.0
2018-01-01 00:00:00,-20.555556,0.0,0.000000,1.000000,-2.449294e-16,1.0,NaN,NaN,0.0,0.0,0.0,1.0
2018-01-01 01:00:00,-18.333333,0.0,0.269797,0.962917,-2.449294e-16,1.0,2.0,NaN,0.0,1.0,0.0,0.0
2018-01-01 01:00:00,-19.374470,0.0,0.269797,0.962917,-2.449294e-16,1.0,2321.0,NaN,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-07 15:00:00,-2.592593,0.0,-0.816970,-0.576680,-2.449294e-16,1.0,2.0,4.0,0.0,1.0,0.0,0.0
2018-01-07 15:00:00,-2.629199,0.0,-0.816970,-0.576680,-2.449294e-16,1.0,1048.0,1537.0,0.0,0.0,1.0,0.0
2018-01-07 15:00:00,-2.630471,0.0,-0.816970,-0.576680,-2.449294e-16,1.0,119.0,119.0,0.0,0.0,0.0,1.0
2018-01-07 16:00:00,-2.025372,0.0,-0.942261,-0.334880,-2.449294e-16,1.0,1032.0,1581.0,0.0,0.0,1.0,0.0
2018-01-07 16:00:00,-2.026667,0.0,-0.942261,-0.334880,-2.449294e-16,1.0,132.0,115.0,0.0,0.0,0.0,1.0

In [77]:
ltf_batch_split(df[features],df['number_of_trips'],4, 24)

NameError: name 'ltf_batch_split' is not defined

# Support Vector Machines

## Perform Grid search

## Train the models with different time/spatial

##  Compare the results of the different time/spaitla bin combinations

## Analyize the models with XAI methods

# Neural Networks

## Grid Search

## Train the models with different time/spatial bins and different test/train spilt techniques

## Compare the results of  the different time/spaitla bin combinations

## Compare the different test/train split techniques

## Aanalyize the models with XAI methods

## Apply different NN architectures

### Recurrent NN (RNN)

### Long Short-Term Memory Networks (LSTM)

### Kernalized NN

### Comparison of the results

# Compare SVM and NN models in terms of predictive performance and computation time

In [ ]:
df.columns

In [ ]:
nn_model = Sequential()
nn_model.add(Dense(12, input_shape=(12,), activation='relu'))
nn_model.add(Dense(8, activation='relu'))
nn_model.add(Dense(4, activation='relu'))
nn_model.add(Dense(1))

In [ ]:
params={
    "optimizer":"RMSPROP",
    "loss":"mse",
    "loss_weights":None,
    "metrics":['mae'],
    "weighted_metrics":None,
    "run_eagerly":False,
    #"steps_per_execution":1,
    "jit_compile":"auto",
    "auto_scale_loss":True,
    "x":None,
    "y":None,
    "batch_size":50,
    "epochs":100,
    "verbose":0,
    "callbacks":None,
    "validation_split":0.0,
    "validation_data":None,
    "shuffle":True,
    "class_weight":None,
    "sample_weight":None,
    "initial_epoch":0,
    "steps_per_epoch":None,
    "validation_steps":None,
    #"validation_batch_size":None,
    "validation_freq":1
}

In [ ]:
k_fold_validation(4, df[features], df['number_of_trips'], nn_model, train_nn, params=params)